* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "C-form";
  padding: 2rem;
}
.contact-lets {
  font-size: 1.5em;
}
label {
  font-weight: 800;
}
#light .C-button {
  background-color: #2a4e81;
  color: #dcd7c9;
}
#dark .C-button {
  background-color: #dcd7c9;
  color: #27374d;
}
@media (max-width: 1200px) {
  .contact-form {
    grid-template-columns: 1fr;
    grid-template-areas: "C-form";
    padding: 2rem;
  }
}
@media (max-width: 992px) {
  .contact-form {
    grid-template-columns: 1fr;
    grid-template-areas: "C-form";
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr;
    grid-template-areas: "C-form";
    padding: 2rem;
  }
}
@media (max-width: 600px) {
  .contact-form {
    grid-template-columns: 1fr;
    grid-template-areas: "C-form";
    padding: 2rem;
  }
}
