* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.c-container {
  padding: 4rem;
}
.c-icontitle {
  font-size: 1.8em;
  margin-bottom: 1rem;
}
.c-icon h6 {
  font-size: 1.3em;
  margin-left: 1rem;
}
.c-icon {
  display: flex;
  margin-bottom: 2rem;
}
.c-icon i {
  color: #2a4e81;
}

@media screen and(max-width: 600px) {
  .c-icon h6 {
    font-size: 1em;
    margin-left: 1rem;
  }
}
@media screen and(max-width: 400px) {
  .c-icon h6 {
    font-size: 1em;
    margin-left: 1rem;
  }
}
