* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#light .N-footer {
  background: #27374d;
}
#light .nav-item .nav-link {
  position: relative;
  color: #dde6ed;
}
#light .nav-link:hover {
  color: black;
}
.N-footer {
  background: #3f4e4f;
  justify-content: center;
}
.nav-item .nav-link {
  position: relative;
  color: #a27b5c;
}
.nav-link:hover {
  color: black;
}
@media only screen and (max-width: 1200px) {
  .N-footer {
    max-width: 60%;
  }
}
@media only screen and (max-width: 992px) {
  .N-footer {
    max-width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .N-footer {
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .N-footer {
    max-width: 100%;
  }
}
