* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: "rightcontent leftcontent";
  width: 100%;
  height: 100vh;
}
.left-content {
  grid-area: leftcontent;
}
.right-content {
  grid-area: rightcontent;
}

@media only screen and (max-width: 992px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "leftcontent"
      "rightcontent";
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "leftcontent"
      "rightcontent";
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "leftcontent"
      "rightcontent";
    width: 100%;
  }
}
