* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.myPortfolio {
  padding: 2rem;
}
#light .myPortfolio .content {
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.3);
}

.myPortfolio .content {
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.3);
  margin-bottom: 3rem;
  transition: 1s;
}
.myPortfolio .content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "minproj1 minproj2"
    "minproj3 minproj4";
  gap: 1rem;
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.3);
  margin-bottom: 3rem;
  transition: 1s;
  padding: 2rem 1rem 0 1rem;
}
#light .myPortfolio .content1 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.myPortfolio .content1 .minproj1:hover {
  transform: scale(1.1);
}
.myPortfolio .content1 .minproj2:hover {
  transform: scale(1.1);
}
.myPortfolio .content1 .minproj3:hover {
  transform: scale(1.1);
}
.myPortfolio .content1 .minproj4:hover {
  transform: scale(1.1);
}
.minproj1 {
  grid-area: minproj1;
  cursor: pointer;
}
.minproj2 {
  grid-area: minproj2;
  cursor: pointer;
}
.minproj3 {
  grid-area: minproj3;
  cursor: pointer;
}
.minproj4 {
  grid-area: minproj4;
  cursor: pointer;
}
.myPortfolio .content2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "majproj1 majproj2"
    "majproj3 majproj3";
  gap: 1rem;
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.3);
  margin-bottom: 3rem;
  transition: 1s;
  padding: 2rem 1rem 0 1rem;
}
#light .myPortfolio .content2 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.myPortfolio .content2 .majproj1:hover {
  transform: scale(1.1);
}
.myPortfolio .content2 .majproj2:hover {
  transform: scale(1.1);
}
.myPortfolio .content2 .majproj3:hover {
  transform: scale(1.1);
}

.majproj1 {
  grid-area: majproj1;
  cursor: pointer;
}
.majproj2 {
  grid-area: majproj2;
  cursor: pointer;
}
.majproj3 {
  grid-area: majproj3;
  margin-top: -5rem;
  cursor: pointer;
}
.myPortfolio .content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "capstone capstone1"
    "capstone2  capstone3";
  gap: 1rem;
  box-shadow: 0px 10px 20px rgb(255, 255, 255, 0.3);
  margin-bottom: 3rem;
  transition: 1s;
  padding: 2rem 1rem 0 1rem;
}
#light .myPortfolio .content3 {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.myPortfolio .content3 .capstone:hover {
  transform: scale(1.1);
}
.myPortfolio .content3 .capstone1:hover {
  transform: scale(1.1);
}
.myPortfolio .content3 .capstone2:hover {
  transform: scale(1.1);
}
.myPortfolio .content3 .capstone3:hover {
  transform: scale(1.1);
}
.capstone {
  grid-area: capstone;
  cursor: pointer;
}
.capstone1 {
  grid-area: capstone1;
  cursor: pointer;
}
.capstone2 {
  grid-area: capstone2;
  cursor: pointer;
}
.capstone3 {
  grid-area: capstone3;
  cursor: pointer;
}
h2 {
  font-weight: 400;
  color: #dcd7c9;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .myPortfolio {
    padding: 2rem;
  }
}
@media (max-width: 992px) {
  .myPortfolio {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .myPortfolio {
    padding: 2rem;
  }
  .myPortfolio .content1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "minproj1"
      "minproj2"
      "minproj3"
      "minproj4";
    gap: 1rem;
  }
  .myPortfolio .content2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "majproj1"
      "majproj2"
      "majproj3";
    gap: 1rem;
  }
  .majproj3 {
    margin-top: 0.1rem;
  }
  .myPortfolio .content3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "capstone"
      "capstone1"
      "capstone2"
      "capstone3";
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .myPortfolio {
    padding: 2rem;
  }
  .myPortfolio .content1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "minproj1"
      "minproj2"
      "minproj3"
      "minproj4";
    gap: 1rem;
  }
  .myPortfolio .content2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "majproj1"
      "majproj2"
      "majproj3";
    gap: 1rem;
  }
  .majproj3 {
    margin-top: 0.1rem;
  }
  .myPortfolio .content3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "capstone"
      "capstone1"
      "capstone2"
      "capstone3";
    gap: 1rem;
  }
}
