* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#light {
  background-color: #f7f7f7;
}
#dark {
  background-color: #2c3639;
}
#light h1,
h2,
h5,
h6 {
  color: #2c3639;
  font-weight: 700;
}
#light .l-title {
  color: #2c3639;
}
#light .right-about {
  color: #2c3639;
}
#light p {
  color: #2c3639;
}
#light h6 {
  color: #2c3639;
  font-weight: 700;
}
#light h2 {
  color: #2c3639;
  font-weight: 700;
}
#light h5 {
  color: #2c3639;
  font-weight: 700;
}
#light .C-label {
  color: #2c3639;
}
#light .right-button {
  background-color: #2c3639;
  color: #dcd7c9;
}
#light .right-button:hover {
  color: black;
}
#light .right-about {
  background-color: #f7f7f7;
}

#dark h1,
h2,
h5,
h6 {
  color: #dcd7c9;
  font-weight: 700;
}
#dark .right-info p {
  color: #dcd7c9;
}
#dark .right-about {
  color: #dcd7c9;
}
#dark h6 {
  color: #dcd7c9;
  font-weight: 700;
}
#dark h2 {
  color: #dcd7c9;
  font-weight: 700;
}
#dark h5 {
  color: #dcd7c9;
  font-weight: 700;
}
#dark .C-label {
  color: #dcd7c9;
}
#dark .right-button {
  background-color: #dcd7c9;
  color: #2c3639;
}
#dark .skill-percent {
  background-color: #dde6ed;
}
#dark .skill-progressbar1 {
  background-color: #526d82;
}
#dark .skill-progressbar2 {
  background-color: #526d82;
}
#dark .skill-progressbar3 {
  background-color: #526d82;
}
#dark .skill-progressbar4 {
  background-color: #526d82;
}
#dark .skill-progressbar5 {
  background-color: #526d82;
}
#dark .skill-progressbar6 {
  background-color: #526d82;
}
#dark .skill-progressbar7 {
  background-color: #526d82;
}
#dark .rightcontainer1,
.rightcontainer2 {
  background-color: #2c3639;
}
.rightcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "right-info"
    "right-about"
    "right-skill"
    "right-portfoliogallery"
    "right-contacticon"
    "right-contactform"
    "right-footer";
  width: 60%;
  height: 100vh;
}
.right-switch {
  float: right;
  padding: 0.5rem 0.5rem;
  z-index: 1;
}
.right-info {
  grid-area: right-info;
  color: #dcd7c9;
  text-align: center;
  justify-content: center;
  padding-top: 17rem;
}
.right-info h1 {
  font-size: 3em;
  color: black;
}
.right-info p {
  font-size: 1.5em;
  color: black;
}
.right-button {
  background-color: #2c3639;
}
.right-about {
  grid-area: right-about;
  padding: 4rem;
}
.right-about h5 {
  font-size: 2em;
}
.right-about p {
  font-size: 1.2em;
}
.right-skill {
  grid-area: right-skill;
}
.right-portfoliogallery {
  grid-area: right-portfoliogallery;
}
.right-contacticon {
  grid-area: right-contacticon;
}
.right-contactform {
  grid-area: right-contactform;
}
.right-footer {
  grid-area: right-footer;
}
@media only screen and (max-width: 1200px) {
  .rightcontainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right-info"
      "right-about"
      "right-skill"
      "right-portfoliogallery"
      "right-contacticon"
      "right-contactform"
      "right-footer";
    width: 60%;
    height: 100%;
  }
  .right-info {
    color: #dcd7c9;
    text-align: center;
    justify-content: center;
    max-width: 100%;
  }
  .right-switch {
    float: right;
    padding: 0.5rem 2rem;
    z-index: 1;
  }
}
@media only screen and (max-width: 992px) {
  .rightcontainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right-info"
      "right-about"
      "right-skill"
      "right-portfoliogallery"
      "right-contacticon"
      "right-contactform"
      "right-footer";
    width: 60%;
    height: 100%;
  }
  .right-info {
    color: #dcd7c9;
    text-align: center;
    justify-content: center;
    max-width: 100%;
  }
  .right-switch {
    float: right;
    padding: 0.5rem 1rem;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .rightcontainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right-info"
      "right-about"
      "right-skill"
      "right-portfoliogallery"
      "right-contacticon"
      "right-contactform"
      "right-footer";
    width: 100%;
    height: 100%;
  }
  .right-info {
    color: #dcd7c9;
    text-align: center;
    justify-content: center;
    padding-top: 18rem;
  }
  .right-switch {
    float: right;
    top: 0.5rem;
    right: -1rem;
    z-index: 1;
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  .rightcontainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right-info"
      "right-about"
      "right-skill"
      "right-portfoliogallery"
      "right-contacticon"
      "right-contactform"
      "right-footer";
    width: 100%;
    height: 100%;
  }
  .right-info {
    color: #dcd7c9;
    text-align: center;
    justify-content: center;
    padding-top: 18rem;
  }
  .right-switch {
    float: right;
    top: 0.5rem;
    right: -1rem;
    z-index: 1;
    position: absolute;
  }
}
